<div class="container">
    <h2>Create</h2>
    <hr>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
        </div>
    </div>



    <form #departmentForm="ngForm">
        <div class="form-row">
            <div class="col-md-3 form-floating">

                <input type="text" id="Name" name="Name" placeholder="Enter the Name" class="form-control"
                    #Name [(ngModel)]="department.Name" autocomplete="off" />
                <label for="Name">Name</label>
            </div>
            <div class="col-md-3 form-floating">
                <input type="number" id=" Budget" name=" Budget" placeholder="Enter the Budget"
                    class="form-control" #Budget [(ngModel)]="department.Budget" autocomplete="off" />
                <label for="Budget">Budget</label>

            </div>
            <div class="col-md-3 form-floating">
                <input type="date" id="StartDate" name=" StartDate" placeholder="Enter the StartDate"
                    class="form-control" #EnrollmentDate [(ngModel)]="department.StartDate" autocomplete="off" />
                <label for="StartDate"> StartDate</label>
            </div>

            <div class="col-md-4 form-floating">
                <select id="InstructorID" name="InstructorID" class="form-control"
                 #InstructorID [(ngModel)]="department.InstructorID">
                 <option *ngFor="let item of instructors" [value]="item.ID">{{item.LastName}} - {{item.FirstMidName}}
                    </option> 
                                    
                </select>
                <label for="InstructorID"> Instructor</label>
            </div>


        </div>
        <button class="btn btn-outline-primary" (click)="create()">Create</button>
        <a class="btn btn-outline-primary" [routerLink]="['/department-list']">Back</a>
    </form>
</div>
